<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <a href="#home" class="active">YouTube Wannabe</a>
  <a href="/register">Login</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
    <input type="text" placeholder="Pesquisar vídeo..">
</div>

{{#each posts}}
  <div class="card">
    <div class='card-body'>
      <video width="320" height="240" controls="controls" autoplay="autoplay">
      <source src="/src/models/Post.js" type="video/mp4">
      <object data="" width="320" height="240">
      <embed width="320" height="240" src="/src/models/Post.js">
      </object>
      </video>
      <h4>{{name}}</h4>
      <small>{{createdAt}}</small>
    </div>
  </div>

{{/each}}


