<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <a href="#home" class="active">YouTube Wannabe</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>


</div>
<div><br><br><br><br></div>

<form action='./posts' method='post' enctype="multipart/form-data">
<input type="file" name='file'/>
<button type="submit">Upload</button>

</form>
